#textdomain wesnoth-Genesis

[scenario]
    id=00_Cutscene
    map_data="{~add-ons/Genesis/episode1/maps/01_Ash.map}"
    turns=-1
    #theme=Cutscene_Minimal
    victory_when_enemies_defeated=no
    next_scenario=01_Eventide_Song
    
	{STORYTXT_INIT_WARNING}
	{LIMBO}
	
    [side]
        type=Amberlight Fae
        variation=AF3
        name= _ "Esther"
        id=Esther
        facing=se
        [modifications]
            {TRAIT_FEARLESS}
        [/modifications]
        # profile=portraits/esther.png
        canrecruit=yes
        unrenamable=yes
        side=1
        controller=human
        recruit=
		fog=yes
		shroud=yes
        team_name=fae
        user_team_name= _ "team_name^Fae"
    [/side]

    [side]
        side=2
        no_leader=yes
        team_name=demons
        controller=ai
        color=black
        fog=no
        shroud=no
        hidden=yes
    [/side]

    [event]
        name=prestart

        {FADE_SCREEN}
        [store_unit]
            [filter]
                id=Esther
            [/filter]
            variable=esther
        [/store_unit]
        [kill]
            id=Esther
        [/kill]
        [modify_side]
            side=1
            shroud=yes
        [/modify_side]
        [place_shroud]
            side=1
            x=1-50
            y=1-21
        [/place_shroud]
        [refresh_spell_menu]
            enable=0
        [/refresh_spell_menu]
    [/event]

    [event]
        name=start

        {UNFADE_SCREEN}
        [unstore_unit]
            variable=esther
        [/unstore_unit]
        [unhide_unit]
            [filter][/filter]
        [/unhide_unit]
        {CLEAR_VARIABLE esther}

        {REPLACE_SCENARIO_MUSIC underground.ogg}

        [unit]
            side=1
            type=Dusk Fae
            variation=DF3
            canrecruit=yes
            x,y=9,7
            name= _ "Yumi"
            id=Yumi
            unrenamable=yes
            # profile=portraits/yumi.png
            animate=no
        [/unit]
		
		[unit]
            side=1
            type=Crimson Fae
            variation=CF3
            canrecruit=yes
            x,y=9,7
            name= _ "Aryel"
            id=Aryel
            unrenamable=yes
            # profile=portraits/aryel.png
            animate=no
        [/unit]
		
    [/event]
	[event]
		name=done
		
		[endlevel]
            result=victory
            bonus=yes
            {NEW_GOLD_CARRYOVER 100}
            replay_save=no
            carryover_report=no
            linger_mode=no
            next_scenario=01_Eventide_Song
        [/endlevel]
	[/event]
[/scenario]
