#textdomain wesnoth-Genesis

[unit_type]
    id=Demon Warrior
    name= _ "Demon Warrior"
    race=demon
    gender=male,female
    image="units/demons-other/warrior.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    profile="portraits/demon-regular.png"
    hitpoints=56
    movement_type=demonfoot
    movement=5
    experience=150
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=56
    usage=mixed fighter
    [resistance]
        blade=80
        pierce=90
        impact=80
        cold=90
    [/resistance]
    description= _ "Among regular demons, there exist those that are born with an unnatural share of power compared to the rest of their brethren. When encountered by other races, these demons are often mistaken for lesser demon lords, despite the innate differences between the regular demons and most of their sovereigns. For one thing, no regular demon possesses the ability to wield true magic, though at times, the skill with which they channel their own energies may provide a suitable replacement. For another, the very nature of their powers are different. Even the most powerful of regular demons rely on their own physical prowess and individual strength, whereas true demon lords are masters of their surroundings and of other beings, rather than of themselves. Still, the fact that a regular demon that has grown powerful enough to be compared to a demon lord is a frightening opponent to face, to say the least."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/demons-other/warrior.png" "units/demons-other/warrior.png" {SOUND_LIST:HUMAN_HIT} }
    [attack]
        name=axe
        description= _ "axe"
        type=blade
        range=melee
        damage=10
        number=4
        icon=attacks/axe-undead.png
    [/attack]
    [attack]
        name=infernal chill
        description= _ "infernal chill"
        type=cold
        range=ranged
        damage=10
        number=4
        icon=attacks/iceball.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=axe
        [/filter_attack]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/demons-other/warrior.png"
                sound=axe.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/demons-other/warrior.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=100
            end=200
            image="units/demons-other/warrior.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=infernal chill
        [/filter_attack]
        {MISSILE_FRAME_INFERNAL_CHILL}
        [frame]
            begin=-300
            end=-250
            image="units/demons-other/warrior.png"
            halo=halo/saurian-magic-halo-1.png
        [/frame]
        [frame]
            begin=-250
            end=-190
            image="units/demons-other/warrior.png"
            halo=halo/saurian-magic-halo-2.png
            sound=magicmissile.wav
        [/frame]
        [frame]
            begin=-190
            end=-120
            image="units/demons-other/warrior.png"
            halo=halo/saurian-magic-halo-3.png
        [/frame]
        [frame]
            begin=-120
            end=-40
            image="units/demons-other/warrior.png"
            halo=halo/saurian-magic-halo-4.png
        [/frame]
        [frame]
            begin=-40
            end=50
            image="units/demons-other/warrior.png"
            halo=halo/saurian-magic-halo-5.png
        [/frame]
        [frame]
            begin=50
            end=150
            image="units/demons-other/warrior.png"
            halo=halo/saurian-magic-halo-6.png
        [/frame]
        [frame]
            begin=150
            end=250
            image="units/demons-other/warrior.png"
            halo=halo/saurian-magic-halo-7.png
        [/frame]
    [/attack_anim]

    [female]
        name= _ "female^Demoness Warrior"
        gender=female
        image="units/demons-other/warrior+female.png"
        profile="portraits/demon-regular+female.png"
        die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
        {DEFENSE_ANIM "units/demons-other/warrior+female.png" "units/demons-other/warrior+female.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
        [attack_anim]
            [filter_attack]
                name=axe
            [/filter_attack]
            [if]
                [frame]
                    image="units/demons-other/warrior+female.png"
                [/frame]
            [/if]
            [else]
                [frame]
                    image="units/demons-other/warrior+female.png"
                [/frame]
            [/else]
            [frame]
                image="units/demons-other/warrior+female.png"
            [/frame]
        [/attack_anim]
        [attack_anim]
            [filter_attack]
                name=infernal chill
            [/filter_attack]
            [frame]
                image="units/demons-other/warrior+female.png"
            [/frame]
            [frame]
                image="units/demons-other/warrior+female.png"
            [/frame]
            [frame]
                image="units/demons-other/warrior+female.png"
            [/frame]
            [frame]
                image="units/demons-other/warrior+female.png"
            [/frame]
            [frame]
                image="units/demons-other/warrior+female.png"
            [/frame]
            [frame]
                image="units/demons-other/warrior+female.png"
            [/frame]
            [frame]
                image="units/demons-other/warrior+female.png"
            [/frame]
        [/attack_anim]
    [/female]
[/unit_type]
